In [1]:
import pandas as pd
import math

In [2]:
Convert_data = pd.read_excel('Lat-Long แปลงแล้ว(filtered).xlsx')

In [3]:
Convert_data

,Number,OpDeviceXYcoord,OpDeviceXcoord,OpDeviceYcoord,LAT,LONG
0,156,"519231.127109,1002431.623549",519231.127109,1.002432e+06,9.068515,99.174998
1,158,"491346.498109,1021278.682549",491346.498109,1.021279e+06,9.239020,98.921218
2,161,"617594.644109,1059303.589549",617594.644109,1.059304e+06,9.581304,100.071585
3,167,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694
4,168,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694
...,...,...,...,...,...,...
31463,681141,"556874.937109,871872.780549",556874.937109,8.718728e+05,7.887290,99.515963
31464,681902,"567738.616109,837315.076549",567738.616109,8.373151e+05,7.574578,99.614061
31465,681907,"563927.444109,835250.568549",563927.444109,8.352506e+05,7.555951,99.579489
31466,682306,"564302.188109,848759.771549",564302.188109,8.487598e+05,7.678141,99.583051
31467,682318,"568606.053109,832623.003549",568606.053109,8.326230e+05,7.532126,99.621864

In [4]:
Compare_Data= pd.read_excel('ละติจูดลองจิจูด-ของแต่ละตำบล.xlsx')

In [5]:
Compare_Data

,Unnamed: 0,จังหวัด,อำเภอ,ตำบล,"ละติจูด, ลองจิจูด",LAT,LONG,ALT NAME
0,NaN,จ. นครศรีธรรมราช,อ. ขนอม,ต. ขนอม,"9.166,99.838",9.166,99.838,ต. ขนอม
1,NaN,จ. นครศรีธรรมราช,อ. ขนอม,ต. ควนทอง,"9.181,99.782",9.181,99.782,ต. ควนทอง
2,NaN,จ. นครศรีธรรมราช,อ. ขนอม,ต. ท้องเนียน,"9.324,99.775",9.324,99.775,ต. ท้องเนียน
3,NaN,จ. นครศรีธรรมราช,อ. จุฬาภรณ์,ต. ควนหนองคว้า,"8.103,99.935",8.103,99.935,ต. ควนหนองคว้า
4,NaN,จ. นครศรีธรรมราช,อ. จุฬาภรณ์,ต. ทุ่งโพธิ์,"8.109,99.829",8.109,99.829,ต. ทุ่งโพธิ์
...,...,...,...,...,...,...,...,...
504,NaN,จ. ภูเก็ต,อ. เมืองภูเก็ต,ต. ตลาดเหนือ,"7.879,98.381",7.879,98.381,ต. ตลาดเหนือ
505,NaN,จ. ภูเก็ต,อ. เมืองภูเก็ต,ต. ตลาดใหญ่,"7.888,98.394",7.888,98.394,ต. ตลาดใหญ่
506,NaN,จ. ภูเก็ต,อ. เมืองภูเก็ต,ต. รัษฎา,"7.834,98.423",7.834,98.423,ต. รัษฎา
507,NaN,จ. ภูเก็ต,อ. เมืองภูเก็ต,ต. ราไวย์,"7.767,98.3",7.767,98.300,ต. ราไวย์
508,NaN,จ. ภูเก็ต,อ. เมืองภูเก็ต,ต. วิชิต,"7.86,98.368",7.860,98.368,ต. วิชิต

In [6]:
# haversine formula
def haversine(lat1, lon1, lat2, lon2):
     
    # distance between latitudes
    # and longitudes
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
 
    # convert to radians
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
 
    # apply formulae
    a = (pow(math.sin(dLat / 2), 2) +
         pow(math.sin(dLon / 2), 2) *
             math.cos(lat1) * math.cos(lat2));
    rad = 6371
    c = 2 * math.asin(math.sqrt(a))
    return rad * c

In [7]:
def ShDist(Lat,Long):
    min=100
    for X in range(len(Compare_Data)):
        # distance = math.sqrt((Lat-Compare_Data["LAT"][X])**2+(Long-Compare_Data["LONG"][X])**2)
        distance = haversine(Lat,Long,Compare_Data["LAT"][X],Compare_Data["LONG"][X])
        if distance < min:
            min=distance
            txt=Compare_Data["ALT NAME"][X]
    return txt

In [8]:
# Assign Column ตำบล
Convert_data["ตำบล HS"]="1"

In [9]:
for X in range(len(Convert_data)):
    Convert_data.loc[X,"ตำบล HS"]=ShDist(Convert_data["LAT"][X],Convert_data["LONG"][X])

In [10]:
Convert_data

,Number,OpDeviceXYcoord,OpDeviceXcoord,OpDeviceYcoord,LAT,LONG,ตำบล HS
0,156,"519231.127109,1002431.623549",519231.127109,1.002432e+06,9.068515,99.174998,ต. หนองไทร
1,158,"491346.498109,1021278.682549",491346.498109,1.021279e+06,9.239020,98.921218,ต. ตะกุกเหนือ
2,161,"617594.644109,1059303.589549",617594.644109,1.059304e+06,9.581304,100.071585,ต. บ่อผุด
3,167,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694,ต. ตะกั่วป่า
4,168,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694,ต. ตะกั่วป่า
...,...,...,...,...,...,...,...
31463,681141,"556874.937109,871872.780549",556874.937109,8.718728e+05,7.887290,99.515963,ต. บ้านนิคม
31464,681902,"567738.616109,837315.076549",567738.616109,8.373151e+05,7.574578,99.614061,ต. นาตาล่วง
31465,681907,"563927.444109,835250.568549",563927.444109,8.352506e+05,7.555951,99.579489,ต. บางรัก
31466,682306,"564302.188109,848759.771549",564302.188109,8.487598e+05,7.678141,99.583051,ต. ลำภูรา
31467,682318,"568606.053109,832623.003549",568606.053109,8.326230e+05,7.532126,99.621864,ต. โคกหล่อ

In [21]:
Convert_data.to_excel('event occurred(filtered).xlsx',index=False)