In [1]:
import pandas as pd
Data = pd.read_excel('event occurred(filtered).xlsx',sheet_name='Sheet1')
tumbon = pd.read_excel('ละติจูดลองจิจูด-ของแต่ละตำบล.xlsx',sheet_name='Sheet1')

In [ ]:
Data

In [3]:
MatchD = Data['MATCH DATA AT ROW (ROW+1)'][1]
tmp=pd.read_csv('C:/Users/Kittipos/Desktop/py/filtered/' + 'ต. ตะกุกเหนือ' + '.csv')

In [4]:
tmp

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2015-01-01 00:00:00,29,22,0.0,11.6,6,71,03:06 PM,03:00 AM,06:40 AM,...,16,83,91,0.0,1013,23,10,82,9,"9.252,98.909"
1,2015-01-01 01:00:00,29,22,0.0,11.6,6,71,03:06 PM,03:00 AM,06:40 AM,...,16,80,90,0.0,1012,23,10,81,10,"9.252,98.909"
2,2015-01-01 02:00:00,29,22,0.0,11.6,6,71,03:06 PM,03:00 AM,06:40 AM,...,17,78,89,0.0,1012,24,10,80,10,"9.252,98.909"
3,2015-01-01 03:00:00,29,22,0.0,11.6,6,71,03:06 PM,03:00 AM,06:40 AM,...,17,75,88,0.0,1012,24,10,80,10,"9.252,98.909"
4,2015-01-01 04:00:00,29,22,0.0,11.6,6,71,03:06 PM,03:00 AM,06:40 AM,...,19,58,87,0.0,1012,24,10,76,11,"9.252,98.909"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61363,2021-12-31 19:00:00,32,24,0.0,11.6,6,17,03:46 AM,03:45 PM,06:39 AM,...,31,15,75,0.0,1013,26,10,64,21,"9.252,98.909"
61364,2021-12-31 20:00:00,32,24,0.0,11.6,6,17,03:46 AM,03:45 PM,06:39 AM,...,32,18,76,0.0,1013,25,10,65,20,"9.252,98.909"
61365,2021-12-31 21:00:00,32,24,0.0,11.6,6,17,03:46 AM,03:45 PM,06:39 AM,...,32,22,77,0.0,1014,25,10,66,19,"9.252,98.909"
61366,2021-12-31 22:00:00,32,24,0.0,11.6,6,17,03:46 AM,03:45 PM,06:39 AM,...,32,27,78,0.0,1014,25,10,64,18,"9.252,98.909"
61367,2021-12-31 23:00:00,32,24,0.0,11.6,6,17,03:46 AM,03:45 PM,06:39 AM,...,31,31,80,0.0,1014,25,10,62,18,"9.252,98.909"

In [6]:
tmp['date_time'][MatchD-1]

'2021-01-01 01:00:00'

In [5]:
## ChangeVAR is used for testing function
# def ChangeVAR(name,Call):
#     tmp=pd.read_csv('C:/Users/Kittipos/Desktop/py/filtered/' + name + '.csv')
#     for row in range(len(Data)):
#         ## ส่วนสำหรับแก้ไขข้อมูล
#         if Data['FILE NAME TO USE'][row] == name :
#             MatchD = Data['MATCH DATA AT ROW (ROW+1)'][row] ## match function in excel minus one = row match in python
#             Data.loc[row,'SD'] = tmp['maxtempC'][MatchD - 1] + tmp['maxtempC'][MatchD - 2] + tmp['maxtempC'][MatchD - 3] + tmp['maxtempC'][MatchD - 4]

def Call_SD(list):
    avg = sum(list)/len(list)
    X=0
    for value in list:
        X += (value-avg)**2
    return (X/(len(list)-1))**(1/2)

def ChangeVAR1(name,method,col_list):
    tmp=pd.read_csv('C:/Users/Kittipos/Desktop/py/filtered/' + name + '.csv')
    for row in range(len(Data)):
        if Data['FILE NAME TO USE'][row] == name :
            ## ใช้ search function แทนได้ แต่ในกรณีนี้เรารู้ว่าข้อมูลที่ต้องการใช้อยู่ตำแหน่งใดแล้ว
            MatchD = Data['MATCH DATA AT ROW (ROW+1)'][row] ## match function in excel minus one = row match in python
            ## Start if method part
            if method == 'Call_SD' :
                for col_name in col_list:
                    ## Run method SD for between +-1 hours
                    Value_list=[tmp[col_name][MatchD],tmp[col_name][MatchD - 1],tmp[col_name][MatchD - 2]]
                    Data.loc[row,'SD_'+col_name] = Call_SD(Value_list)
            # if method == 'avg' :
            #     for col_name in col_list:
            #         ## Run method avg
            #         Data.loc[row,'avg_'+col_name] =

In [42]:
## Create Col for method SD
col_list = ['maxtempC','mintempC']
for col_name in col_list:
    Data['SD_'+col_name]='Change this to number'
## Run Call_SD method
for x in range(len(tumbon)):
    ChangeVAR1(tumbon['ALT NAME'][x],'Call_SD',col_list)

In [43]:
Data

,Number,OpDeviceXYcoord,OpDeviceXcoord,OpDeviceYcoord,LAT,LONG,FILE NAME TO USE,DATE AND TIME NEEDED,MATCH DATA AT ROW (ROW+1),maxtempC,...,winddirDegree,windspeedKmph,CountOfRestoStep,FirstStepDuration,LastStepDuration,CauseType,OpDeviceType,SubCauseType,SD_maxtempC,SD_mintempC
0,156,"519231.127109,1002431.623549",519231.127109,1.002432e+06,9.068515,99.174998,ต. หนองไทร,2021-01-01 09:00:00,52618,27,...,53,23,1,40.0,40.0,สัตว์,Drop out Fuse,งู,0.0,0.0
1,158,"491346.498109,1021278.682549",491346.498109,1.021279e+06,9.239020,98.921218,ต. ตะกุกเหนือ,2021-01-01 01:00:00,52610,27,...,64,15,1,40.0,40.0,สัตว์,Drop out Fuse,ลิง/ค่าง,0.57735,0.57735
2,161,"617594.644109,1059303.589549",617594.644109,1.059304e+06,9.581304,100.071585,ต. บ่อผุด,2021-01-01 06:00:00,52615,27,...,51,24,1,153.0,153.0,สัตว์,Drop out Fuse,นก,0.0,0.0
3,167,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694,ต. ตะกั่วป่า,2021-01-01 09:00:00,52618,29,...,61,14,1,13.0,13.0,สัตว์,Drop out Fuse,งู,0.0,0.0
4,168,"429697.013109,975881.571549",429697.013109,9.758816e+05,8.827864,98.360694,ต. ตะกั่วป่า,2021-01-01 09:00:00,52618,29,...,61,14,1,13.0,13.0,สัตว์,Drop out Fuse,งู,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31452,681141,"556874.937109,871872.780549",556874.937109,8.718728e+05,7.887290,99.515963,ต. บ้านนิคม,2021-12-31 01:00:00,61346,30,...,57,9,1,50.0,50.0,สัตว์,Drop out Fuse,ลิง/ค่าง,1.154701,0.0
31453,681902,"567738.616109,837315.076549",567738.616109,8.373151e+05,7.574578,99.614061,ต. นาตาล่วง,2021-12-28 17:00:00,61290,31,...,59,10,1,150.0,150.0,อุปกรณ์,Drop out Fuse,ชำรุด,0.0,0.0
31454,681907,"563927.444109,835250.568549",563927.444109,8.352506e+05,7.555951,99.579489,ต. บางรัก,2021-12-30 16:00:00,61337,28,...,65,14,1,40.0,40.0,อุปกรณ์,Drop out Fuse,ชำรุด,0.0,0.0
31455,682306,"564302.188109,848759.771549",564302.188109,8.487598e+05,7.678141,99.583051,ต. ลำภูรา,2021-12-31 08:00:00,61353,30,...,60,9,1,90.0,90.0,อุปกรณ์,Drop out Fuse,ชำรุด,0.0,0.0
31456,682318,"568606.053109,832623.003549",568606.053109,8.326230e+05,7.532126,99.621864,ต. โคกหล่อ,2021-12-31 14:00:00,61359,30,...,60,13,1,90.0,90.0,อุปกรณ์,Drop out Fuse,ชำรุด,0.0,0.0

In [30]:
Data.to_excel('2.xlsx',index=False)